
* {
	font: 16px sans-serif;
	background: white;
	border-style: 1px;
}

.div_textarea {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.div1 {
	padding: 2%;
}

textarea {
	width: 300px;
	height: 200px;
	font: 14px monospace;
}

#input_csv_separator {
	width: 100px;
	height: 20px;
	font: 14px monospace;
}

